@import "../../../constants";

.version {
  position: fixed;
  bottom: 2px;
  right: 2px;
  background: $grey;
  border-radius: 3px;
  border: 1px solid $light-grey;
  line-height: 20px;
  font-size: 12px;
  align-self: center;
  color: white;
  padding: 2px 5px;
}
