$light-blue: #c4ddf4;
$blue: #4799e3;
$grey: #767676;
$light-grey: #e2e2e2;

:root {
    --body-bg: #fff;
    --font-color: #000;
    --input-bg: #fff;
}

html[theme=dark] {
    --body-bg: #2c2c2c;
    --font-color: #fff;
    --input-bg: #616161;
}
